[Unit]
Description=Run {{ service_data.name }} backup on schedule {{ service_data.full_backup_schedule }}

[Timer]
OnCalendar={{ service_data.full_backup_schedule }}
Unit=barman_backup@{{ service_data.name }}.service

[Install]
WantedBy=multi-user.target



