; Barman, Backup and Recovery Manager for PostgreSQL
; http://www.pgbarman.org/ - http://www.2ndQuadrant.com/
;
; Template configuration file for a server using
; only streaming replication protocol
;

[{{ service_data.name }}]
; Human readable description
description =  "{{ service_data.description }}"

; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; PostgreSQL connection string (mandatory)
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
conninfo = host={{ service_data.conn_pg_host }} port={{ service_data.conn_pg_port }} user={{ service_data.conn_pg_user }} dbname={{ service_data.conn_pg_ddbb }}


; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; PostgreSQL streaming connection string
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; To be used by pg_basebackup for backup and pg_receivexlog for WAL streaming
; NOTE: streaming_barman is a regular user with REPLICATION privilege
streaming_conninfo = host={{ service_data.st_conn_pg_host }} port={{ service_data.st_conn_pg_port }} user={{ service_data.st_conn_pg_user }} dbname={{ service_data.st_conn_pg_ddbb }}

; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Backup settings (via pg_basebackup)
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
backup_method = postgres
;streaming_backup_name = barman_streaming_backup

; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; ; WAL streaming settings (via pg_receivexlog) ; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; 
streaming_archiver = on 
slot_name = {{ service_data.slot_name }}
;streaming_archiver_name = barman_receive_wal 
;streaming_archiver_batch_size = 50

; PATH setting for this server 
; path_prefix = "/usr/lib/postgresql/11/bin"

; post_backup_script = ""
