listen_addresses = '{{ cluster_data.listen_address }}'
port = {{ cluster_data.listen_port }}

data_directory = '{{ cluster_data_directory_root }}/{{ cluster_data.name }}'
hba_file = '{{ cluster_etc_directory_root }}/{{ cluster_data.name }}/pg_hba.conf'
ident_file = '{{ cluster_etc_directory_root }}/{{ cluster_data.name }}/pg_ident.conf'
external_pid_file = '{{ cluster_pid_directory_root }}/11-{{ cluster_data.name }}.pid'

cluster_name = '11/{{ cluster_data.name }}'

stats_temp_directory = '{{ cluster_pid_directory_root }}/11-{{ cluster_data.name }}.pg_stat_tmp'

