#!/bin/bash

echo "SSH_ENABLE_ROOT=$SSH_ENABLE_ROOT"
echo "SFTP_MODE=$SFTP_MODE"
echo "RSYNC_MODE=$RSYNC_MODE"

if [ "$SFTP_MODE" == "true" ]; then
    mkdir -p /data/sftp_root
    chown {{ getent_passwd[pod_data.files_owner_name][1] }}:{{ getent_group[sftp_host_data.files_owner_group][1] }} /data/sftp_root
fi


