{% for port in squid_host_data.safe_ports %}
acl Safe_ports port {{ port }}
{% endfor %}

{% for port in squid_host_data.ssl_ports %}
acl SSL_ports port {{ port }}
{% endfor %}
acl CONNECT method CONNECT

http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports
http_access allow localhost manager
http_access deny manager

# this is the list for temporary allowing some ips to access any website
{% for h in squid_host_data.temporary_whitelist_hosts %}
acl temp_allowed_all src {{ h }}
{% endfor %}
{% if squid_host_data.temporary_whitelist_hosts|length > 0 %}
http_access allow temp_allowed_all
{% endif %}

acl localnet src "/etc/squid/whitelist_hosts.txt"
acl whitelist_sites dstdomain "/etc/squid/whitelist_sites.txt"
http_access allow whitelist_sites localnet

include /etc/squid/conf.d/*

http_access allow localhost
http_access deny all

http_port 3128

coredump_dir /var/spool/squid

refresh_pattern ^ftp:		1440	20%	10080
refresh_pattern ^gopher:	1440	0%	1440
refresh_pattern -i (/cgi-bin/|\?) 0	0%	0
refresh_pattern .		0	20%	4320



