{% for u in postfix_host_data.users %}
/From:.*{{ u.username | regex_escape }}@{{ postfix_host_data.hostname | regex_escape }}.*/ REPLACE From: {{ u.relay_rewrite_name }} <{{ u.relay_rewrite_address }}>
{% endfor %}

if /From:.*/
!/From:.*({% for u in postfix_host_data.users %}{{ u.username | regex_escape }}{{ '|' if not loop.last }}{% endfor %})@{{ postfix_host_data.hostname | regex_escape }}.*/ REJECT "Message rejected, invalid From address"
endif



