#!/usr/bin/python3                                        
                                                          
import os                 
import sys                             
import ipaddress
import subprocess

RULES = [
{% for m in net_gateway_host_data.mappings %}
  {
    'ip': '{{ m.ip }}',
    'port': '{{ m.port }}',
    'dest_ip': '{{ m.dest_ip }}',
    'dest_port': '{{ m.dest_port }}',
    'protocol': '{{ m.protocol }}',
    'mark': '{{ m.mark }}'
  },
{% endfor %}
]

def get_iface_by_ip(ip):
  iface = ''
  private = ipaddress.ip_address(ip).is_private
  if private:
    output = subprocess.check_output(['ip -o -4 addr'], universal_newlines=True, shell=True)
    lines = output.split('\n')
    for l in lines:
      words = l.split()
      iip = words[3].strip()
      iface = words[1].strip()

      if iface == 'lo':
        continue

      if iip.find('/') != -1:
        iip = iip[0:iip.find('/')].strip()

      if ipaddress.ip_address(iip).is_private:
        return iface
  else:
    iface = subprocess.check_output('/usr/local/bin/get_iface_by_ip.sh ' + ip, universal_newlines=True, shell=True)
    iface = iface.strip()

  return iface

if __name__=='__main__':
  cmds = []

  for r in RULES:
    iface_private = get_iface_by_ip(r['dest_ip'])
    iface_public = get_iface_by_ip(r['ip'])

    cmd01 = 'iptables -A FORWARD -i ' + iface_public + ' -d ' + r['ip'] + ' -p ' + r['protocol'] + ' -m ' + r['protocol'] + ' --dport ' + r['port'] + ' -j ACCEPT'
    cmds += [cmd01]

    cmd02 = 'iptables -A FORWARD -o ' + iface_private + ' -d ' + r['dest_ip'] + ' -p ' + r['protocol'] + ' -m ' + r['protocol'] + ' --dport ' + r['dest_port'] + ' -j ACCEPT'
    cmds += [cmd02]

    cmd03 = 'iptables -A FORWARD -i ' + iface_private + ' -s ' + r['dest_ip'] + ' -p ' + r['protocol'] + ' -m ' + r['protocol'] + ' --sport ' + r['dest_port'] + ' -j ACCEPT'
    cmds += [cmd03]

    cmd04 = 'iptables -A FORWARD -o ' + iface_public + ' -s ' + r['ip'] + ' -p ' + r['protocol'] + ' -m ' + r['protocol'] + ' --sport ' + r['port'] + ' -j ACCEPT'
    cmds += [cmd04]

  with open('/tmp/fw_rules.sh', 'w') as w_file:
    w_file.write('#!/bin/bash\n\n')
    for c in cmds:
      w_file.write(c)
      w_file.write('\n')

