#!/usr/bin/python3

import os
import sys
import subprocess

ROUTE_TABLES={
{% for r in net_gateway_host_data.route_tables %}
  '{{ r.dev }}'.upper().strip(): {
    'via': '{{ r.via }}',
    'fwmark': '{{ r.fwmark }}'
  },
{% endfor %}
}

if __name__=='__main__':
  iface = os.environ.get('IFACE')
  if not iface:
    sys.exit(0)

  iface = iface.strip()

  mac = subprocess.check_output('/usr/local/bin/get_mac_by_net.sh ' + iface, universal_newlines=True, shell=True)
  mac = mac.strip().upper()

  if len(mac) == 0:
    sys.exit(0)

  net_dict = ROUTE_TABLES.get(mac)
  if not net_dict:
    sys.exit(0)


  subprocess.check_output(['ip', 'route', 'add', 'table', net_dict['fwmark'], 'default', 'via', net_dict['via'], 'dev', iface, 'onlink'], universal_newlines=True)
  subprocess.check_output(['ip', 'rule', 'add', 'fwmark', net_dict['fwmark'], 'table', net_dict['fwmark']], universal_newlines=True)

