[Unit]
Description=Spring Boot Application ({{ app.name }})

[Service]
Type=simple
EnvironmentFile=-{{ app.root }}/app/environment
TimeoutStartSec=0
Restart=always
WorkingDirectory={{ app.root }}/app
ExecStart={{ app.java_home }}/bin/java ${JAVA_OPTS} \
        -jar application.jar
User={{ app.user }}
Group={{ app.group }}
StandardOutput=file:{{ app.root }}/logs/stdout.log
StandardError=file:{{ app.root }}/logs/stderr.log

[Install]
WantedBy=multi-user.target







