#dnsmasq config, for a complete example, see:
#  http://oss.segetech.com/intra/srv/dnsmasq.conf
#log all dns queries
log-queries
listen-address={{ dnsmasq_host_data.listen_address }},127.0.0.1

#dont use hosts nameservers
no-resolv

{% for dns in dnsmasq_host_data.dns %}
server={{ dns }}
{% endfor %}
strict-order

#explicitly define host-ip mappings
{% for a in dnsmasq_host_data.hosts %}
address=/{{ a.hostname }}/{{ a.ip }}
{% endfor %}



