127.0.0.1 localhost.localdomain localhost
{{ ip }} {{ hostname }} {{ inventory_hostname }}

{% for s in static_hosts %}
{{ s.ip }} {{ s.hostname }}
{% endfor %}

::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts



