listen=YES

# 1. All users are jailed by default:
chroot_local_user=YES
chroot_list_enable=NO

anonymous_enable=NO
local_enable=YES

# Virtual users will use the same privileges as local users.
# It will grant write access to virtual users. Virtual users will use the
# same privileges as anonymous users, which tends to be more restrictive
# (especially in terms of write access).
virtual_use_local_privs=YES
write_enable=YES

# Set the name of the PAM service vsftpd will use
pam_service_name=vsftpd

# Activates virtual users
guest_enable=YES

# Automatically generate a home directory for each virtual user, based on a template.
# For example, if the home directory of the real user specified via guest_username is
# /home/virtual/$USER, and user_sub_token is set to $USER, then when virtual user vivek
# logs in, he will end up (usually chroot()'ed) in the directory /home/virtual/vivek.
# This option also takes affect if local_root contains user_sub_token.
user_sub_token=$USER

# Usually this is mapped to Apache virtual hosting docroot, so that
# Users can upload files
local_root=/srv/ftp/$USER

user_config_dir=/etc/vsftpd/user_conf

pasv_address={{ vsftpd_host_data.pasv_address }}
pasv_min_port={{ vsftpd_host_data.pasv_min_port }}
pasv_max_port={{ vsftpd_host_data.pasv_max_port }}

# enable ssl
ssl_enable=YES
allow_anon_ssl=NO
force_local_data_ssl=YES
force_local_logins_ssl=YES
ssl_tlsv1=YES
ssl_sslv2=NO
ssl_sslv3=NO
require_ssl_reuse=YES
ssl_ciphers=HIGH

rsa_cert_file=/etc/vsftpd/ssl-cert.pem
rsa_private_key_file=/etc/vsftpd/ssl-cert.key

# Useful to not write over hidden files:
force_dot_files=YES

# Hide the info about the owner (user and group) of the files.
hide_ids=YES

# Connection limit for each IP:
max_per_ip=2

# Maximum number of clients:
max_clients=20

# Denied users
userlist_enable=YES
userlist_deny=YES
userlist_file=/etc/vsftpd/vsftpd.denied

# Debug
#debug_ssl=YES

# logging
log_ftp_protocol=YES
dual_log_enable=YES
