server {
    listen      80;
    server_name {{ domain.name }};

    location /.well-known {
      root {{ nginx_gateway_host_data.certbot.webroot }};
    }

    location / {
      return 301 https://{{ domain.name }}$request_uri;
    }
}




