server {
    listen      443 ssl;
    server_name {{ domain.name }};

    ssl_certificate     /etc/letsencrypt/live/{{ domain.name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain.name }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ domain.name }}/chain.pem;

    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;

    access_log  /var/log/nginx/{{ domain.name }}.access.log main;
    error_log  /var/log/nginx/{{ domain.name }}.error.log;

    client_body_timeout 5s;
    client_header_timeout 5s;

    proxy_connect_timeout       5s;
    proxy_send_timeout          60s;
    proxy_read_timeout          60s;
    send_timeout                60s;

    client_max_body_size {{ domain.client_max_body_size }};

    proxy_buffer_size           128k;
    proxy_buffers               4 256k;
    proxy_busy_buffers_size     256k;

    location /.well-known {
      root {{ nginx_gateway_host_data.certbot.webroot }};
    }

    # 504 -- Gateway timeout
    # 502 -- Bad Gateway
    error_page 504 502 /50x.html;
    location = /50x.html {
      root /var/www/html/error_pages;
      internal;
    }

{% for l in domain.locations %}
  location {{ l.url }} {
{% if l.upstream is defined %}
      proxy_pass http://{{ l.upstream }};

      proxy_set_header X-Forwarded-Host $host;
      proxy_set_header X-Forwarded-Server $host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header Host $host;

      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";

{% if l.headers is defined %}
{% for h in l.headers %}
      proxy_set_header {{ h.name }} {{ h.value }};
{% endfor %}
{% endif %}

{% endif %}
{% if l.redirect_301 is defined %}
      return 301 {{ l.redirect_301 }};
{% endif %}
  }
{% endfor %}
}


