server {
    listen      80;
    server_name {{ domain.name }};

    location /.well-known {
      root {{ nginx_gateway_host_data.certbot.webroot }};
    }
{% for l in domain.locations %}
    location {{ l.url }} {
{% if l.upstream is defined %}
        proxy_pass http://{{ l.upstream }};

        proxy_set_header X-Forwarded-Host $host;
      	proxy_set_header X-Forwarded-Server $host;
      	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      	proxy_set_header X-Forwarded-Proto $scheme;
      	proxy_set_header X-Real-IP $remote_addr;
      	proxy_set_header Host $host;
{% endif %}
{% if l.redirect_301 is defined %}
        return 301 {{ l.redirect_301 }};
{% endif %}
    }
{% endfor %}
}




