user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections 768;
}

http {
	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 65;
	types_hash_max_size 2048;
  server_names_hash_bucket_size  64;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	ssl_protocols TLSv1.3 TLSv1.2;
	ssl_dhparam /etc/nginx/dhparam.pem;
  ssl_ciphers 'kEECDH+ECDSA+AES128 kEECDH+ECDSA+AES256 kEECDH+AES128 kEECDH+AES256 kEDH+AES128 kEDH+AES256 DES-CBC3-SHA +SHA !aNULL !eNULL !LOW !kECDH !DSS !MD5 !RC4 !EXP !PSK !SRP !CAMELLIA !SEED';
  ssl_prefer_server_ciphers on;
  ssl_stapling on;
  ssl_stapling_verify on;
  ssl_session_cache shared:ssl_session_cache:1M;
  ssl_session_timeout 1440m;

  resolver {% for r in nginx_gateway_host_data.resolvers %}{{ r }} {% endfor %} valid=300s;
  resolver_timeout 10s;

  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';

	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;

	gzip off;
  
  map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
  }

	include /etc/nginx/conf.d/*.conf;
	include /etc/nginx/sites-enabled/*;
}


