MYSQL_DATABASE=portus
MYSQL_USER={{ portus_host_data.mariadb_user }}
PORTUS_MACHINE_FQDN_VALUE={{ portus_host_data.portus_fqdn }}
{% if portus_host_data.portus_signup_enabled %}
PORTUS_SIGNUP_ENABLED={{ portus_host_data.portus_signup_enabled }}
{% endif %}

{% if portus_host_data.portus_email_smtp_enabled %}
PORTUS_EMAIL_SMTP_ENABLED=true
PORTUS_EMAIL_SMTP_ADDRESS={{ portus_host_data.portus_email_smtp_address }}
PORTUS_EMAIL_SMTP_PORT={{ portus_host_data.portus_email_smtp_port }}
PORTUS_EMAIL_SMTP_DOMAIN={{ portus_host_data.portus_email_smtp_domain }}
PORTUS_EMAIL_SMTP_USER_NAME={{ portus_host_data.portus_email_smtp_user_name }}
PORTUS_EMAIL_SMTP_AUTHENTICATION={{ portus_host_data.portus_email_smtp_authentication }}
PORTUS_EMAIL_SMTP_ENABLE_STARTTLS_AUTO={{ portus_host_data.portus_email_smtp_enable_starttls_auto }}
PORTUS_EMAIL_SMTP_OPENSSL_VERIFY_MODE={{ portus_host_data.portus_email_smtp_openssl_verify_mode }}
PORTUS_EMAIL_FROM={{ portus_host_data.portus_email_from }}
PORTUS_EMAIL_NAME={{ portus_host_data.portus_email_name }}
PORTUS_EMAIL_REPLY_TO={{ portus_host_data.portus_email_reply_to }}
{% endif %}






