version: 0.1
loglevel: debug
log:
  fields:
    service: registry
storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: /var/lib/registry
  delete:
    enabled: true
http:
  addr: :5000
  headers:
    X-Content-Type-Options: [nosniff]
  tls:
    certificate: /tls/cert.pem
    key: /tls/key.pem
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
auth:
  token:
    realm: https://{{ portus_host_data.portus_fqdn }}/v2/token
    service: registry:5000
    issuer: {{ portus_host_data.portus_fqdn }}
    rootcertbundle: /tls/cert.pem
notifications:
  endpoints:
    - name: portus
      url: http://portus:3000/v2/webhooks/events
      timeout: 500ms
      threshold: 5
      backoff: 1s





