version: '3'
services:
  registry:
    image: registry:2
    restart: always
    ports:
    - {{ portus_host_data.registry_port }}:5000
    environment:
    - REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY='/data'
    volumes:
    - {{ portus_host_data.base_dir }}/data/registry/registrydata:/data
    - {{ portus_host_data.base_dir }}/data/registry/auth:/auth
    - {{ portus_host_data.base_dir }}/data/registry/config.yml:/etc/docker/registry/config.yml
    - {{ portus_host_data.base_dir }}/data/registry/tls:/tls
  mariadb:
    image: mariadb:10.5.9
    restart: always
    environment:
    - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    - MYSQL_DATABASE=${MYSQL_DATABASE}
    - MYSQL_USER=${MYSQL_USER}
    - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
    - {{ portus_host_data.base_dir }}/data/mariadb/data:/var/lib/mysql
    - {{ portus_host_data.base_dir }}/data/mariadb/config:/etc/mysql/conf.d
    - {{ portus_host_data.base_dir }}/data/mariadb/entry:/docker-entrypoint-initdb.d
    command: ['mysqld', '--character-set-server=utf8', '--collation-server=utf8_bin']
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.1.0
    links:
    - mariadb:db
    ports:
    - {{ portus_host_data.phpmyadmin_port }}:80
    restart: always
  portus:
    image: opensuse/portus:2.4.3
    restart: always
    links:
    - mariadb:db
    - registry:registry
    depends_on:
    - mariadb
    ports:
    - {{ portus_host_data.portus_port }}:3000 
    volumes: 
    - {{ portus_host_data.base_dir }}/data/registry/tls/cert.pem:/certificates/registry.crt 
    - {{ portus_host_data.base_dir }}/data/registry/tls/key.pem:/key.pem
    - {{ portus_host_data.base_dir }}/data/portus/portus_db_password.txt:/portus_db_password.txt
    - {{ portus_host_data.base_dir }}/data/portus/portus_password.txt:/portus_password.txt
    - {{ portus_host_data.base_dir }}/data/portus/portus_email_smtp_password.txt:/portus_email_smtp_password.txt
    - {{ portus_host_data.base_dir }}/data/portus/portus_secret_key_base.txt:/portus_secret_key_base.txt
    - {{ portus_host_data.base_dir }}/data/portus/portus_ldap_authentication_password.txt:/portus_ldap_authentication_password.txt
    environment:
    - PORTUS_MACHINE_FQDN_VALUE=${PORTUS_MACHINE_FQDN_VALUE}
    - PORTUS_CHECK_SSL_USAGE_ENABLED='true'
    - PORTUS_DB_HOST=db
    - PORTUS_DB_DATABASE=${MYSQL_DATABASE}
    - PORTUS_DB_USERNAME=${MYSQL_USER}
    - RAILS_SERVE_STATIC_FILES='true'
    - PORTUS_KEY_PATH=/key.pem
    - PORTUS_LOG_LEVEL=info
    - PORTUS_SIGNUP_ENABLED=${PORTUS_SIGNUP_ENABLED}
    - PORTUS_ANONYMOUS_BROWSING_ENABLE='false'
{% if portus_host_data.portus_email_smtp_enabled %}
    - PORTUS_EMAIL_SMTP_ENABLED=${PORTUS_EMAIL_SMTP_ENABLED}
    - PORTUS_EMAIL_SMTP_ADDRESS=${PORTUS_EMAIL_SMTP_ADDRESS}
    - PORTUS_EMAIL_SMTP_PORT=${PORTUS_EMAIL_SMTP_PORT}
    - PORTUS_EMAIL_SMTP_DOMAIN=${PORTUS_EMAIL_SMTP_DOMAIN}
    - PORTUS_EMAIL_SMTP_USER_NAME=${PORTUS_EMAIL_SMTP_USER_NAME}
    - PORTUS_EMAIL_SMTP_AUTHENTICATION=${PORTUS_EMAIL_SMTP_AUTHENTICATION}
    - PORTUS_EMAIL_SMTP_ENABLE_STARTTLS_AUTO=${PORTUS_EMAIL_SMTP_ENABLE_STARTTLS_AUTO}
    - PORTUS_EMAIL_SMTP_OPENSSL_VERIFY_MODE=${PORTUS_EMAIL_SMTP_OPENSSL_VERIFY_MODE}
    - PORTUS_EMAIL_FROM=${PORTUS_EMAIL_FROM}
    - PORTUS_EMAIL_NAME=${PORTUS_EMAIL_NAME}
    - PORTUS_EMAIL_REPLY_TO=${PORTUS_EMAIL_REPLY_TO}
{% endif %}
    # secrets
    - PORTUS_DB_PASSWORD_FILE=/portus_db_password.txt
    - PORTUS_PASSWORD_FILE=/portus_password.txt
    - PORTUS_SECRET_KEY_BASE_FILE=/portus_secret_key_base.txt
    - PORTUS_EMAIL_SMTP_PASSWORD_FILE=/portus_email_smtp_password.txt
    - PORTUS_LDAP_AUTHENTICATION_PASSWORD_FILE=/portus_ldap_authentication_password.txt
  portus_background:
    image: opensuse/portus:2.4.3
    restart: always
    links:
    - mariadb:db
    - registry:registry
    depends_on:
    - mariadb
    volumes:
    - {{ portus_host_data.base_dir }}/data/registry/tls/cert.pem:/certificates/registry.crt
    - {{ portus_host_data.base_dir }}/data/registry/tls/key.pem:/key.pem
    - {{ portus_host_data.base_dir }}/data/portus/portus_db_password.txt:/portus_db_password.txt
    - {{ portus_host_data.base_dir }}/data/portus/portus_password.txt:/portus_password.txt
    - {{ portus_host_data.base_dir }}/data/portus/portus_email_smtp_password.txt:/portus_email_smtp_password.txt
    - {{ portus_host_data.base_dir }}/data/portus/portus_secret_key_base.txt:/portus_secret_key_base.txt
    - {{ portus_host_data.base_dir }}/data/portus/portus_ldap_authentication_password.txt:/portus_ldap_authentication_password.txt
    environment:
    - PORTUS_MACHINE_FQDN_VALUE=${PORTUS_MACHINE_FQDN_VALUE}
    - PORTUS_CHECK_SSL_USAGE_ENABLED='true'
    - PORTUS_DB_HOST=db
    - PORTUS_DB_DATABASE=${MYSQL_DATABASE}
    - PORTUS_DB_USERNAME=${MYSQL_USER}
    - RAILS_SERVE_STATIC_FILES='true'
    - PORTUS_KEY_PATH=/key.pem
    - PORTUS_BACKGROUND='true'
    - PORTUS_LOG_LEVEL=info
    - PORTUS_SIGNUP_ENABLED=${PORTUS_SIGNUP_ENABLED}
    - PORTUS_ANONYMOUS_BROWSING_ENABLE='false'
    - PORTUS_BACKGROUND_SYNC_STRATEGY=on-start
{% if portus_host_data.portus_email_smtp_enabled %}
    - PORTUS_EMAIL_SMTP_ENABLED=${PORTUS_EMAIL_SMTP_ENABLED}
    - PORTUS_EMAIL_SMTP_ADDRESS=${PORTUS_EMAIL_SMTP_ADDRESS}
    - PORTUS_EMAIL_SMTP_PORT=${PORTUS_EMAIL_SMTP_PORT}
    - PORTUS_EMAIL_SMTP_DOMAIN=${PORTUS_EMAIL_SMTP_DOMAIN}
    - PORTUS_EMAIL_SMTP_USER_NAME=${PORTUS_EMAIL_SMTP_USER_NAME}
    - PORTUS_EMAIL_SMTP_AUTHENTICATION=${PORTUS_EMAIL_SMTP_AUTHENTICATION}
    - PORTUS_EMAIL_SMTP_ENABLE_STARTTLS_AUTO=${PORTUS_EMAIL_SMTP_ENABLE_STARTTLS_AUTO}
    - PORTUS_EMAIL_SMTP_OPENSSL_VERIFY_MODE=${PORTUS_EMAIL_SMTP_OPENSSL_VERIFY_MODE}
    - PORTUS_EMAIL_FROM=${PORTUS_EMAIL_FROM}
    - PORTUS_EMAIL_NAME=${PORTUS_EMAIL_NAME}
    - PORTUS_EMAIL_REPLY_TO=${PORTUS_EMAIL_REPLY_TO}
{% endif %}
    # secrets
    - PORTUS_DB_PASSWORD_FILE=/portus_db_password.txt
    - PORTUS_PASSWORD_FILE=/portus_password.txt
    - PORTUS_SECRET_KEY_BASE_FILE=/portus_secret_key_base.txt
    - PORTUS_EMAIL_SMTP_PASSWORD_FILE=/portus_email_smtp_password.txt
    - PORTUS_LDAP_AUTHENTICATION_PASSWORD_FILE=/portus_ldap_authentication_password.txt





