#!/bin/bash

CURRENT_IP=$(/usr/bin/wget http://ipinfo.io/ip -qO -)
HXE_IP=$(/usr/bin/host -t a {{ item.domain }} ns1.afraid.org | /usr/bin/awk '{print $4}' | sed '/^$/d')

# This fails sometime
if [[ $HXE_IP == *"out"* ]]; then
        exit 0
fi

if [ "$CURRENT_IP" != "$HXE_IP" ]; then
        echo "IP address change detected for {{ item.domain }}: $HXE_IP -> $CURRENT_IP"
        /usr/bin/curl -k http://freedns.afraid.org/dynamic/update.php?{{ afraid_org_manager_data_secret.domain_keys[item.domain] }}
fi

