[
{% for s in zabbix_host_data.modules.check_ssl.data %}
{
  {% raw %}"{#SERVER_IP}"{% endraw %}: "{{ s.server_ip }}",
  {% raw %}"{#DOMAIN}"{% endraw %}: "{{ s.domain }}",
  {% raw %}"{#PORT}"{% endraw %}: "{{ s.port }}",
  {% raw %}"{#TIMEOUT}"{% endraw %}: "{{ s.timeout }}"
}
{% if not loop.last %},{% endif %}
{% endfor %}
]





