{% for a in setup_host_data.msmtp.aliases %}
{{ a.local }}: {% for z in a.remote %}{{ z }}{% if not loop.last %}, {% endif %}{% endfor %}
{% endfor %}

default: {{ setup_host_data.msmtp.default_alias }}



