#!/bin/bash

HOSTNAME="{{ setup_host_data.msmtp.hostname }}"

v_recipient=0
v_msg=`cat`       # email message contents
MSMTP=`which msmtp || echo "/usr/bin/msmtp"`

if [  "$1" = '-i'  ] ; then
   v_recipient=$2 # mailx calls sendmail with -i as the 1st param and the recipient as the second param
elif [ "$1" = '-t' ] ; then  # most other programs call sendmail with a -t option
        v_to=`echo "$v_msg" | grep -m 1 'To: '`
        v_recipient=${v_to:4:50}
else
   v_recipient=$1 # no parameter, sendmail was called with the recipient as parameter
fi

# transform subject here
result_msg=$(echo "$v_msg" | sed "s/Subject: /Subject: [M][$HOSTNAME] /")

if [ $v_recipient != 0 ] ; then
  echo "$result_msg" | $MSMTP -i $v_recipient
else
  # we're not sure who this email is for, just send it to msmtp and see what happens..
  echo "$result_msg" | $MSMTP $1 $2 $3 $4 $5
fi



