defaults
auth            on
tls             on
tls_trust_file  /etc/ssl/certs/ca-certificates.crt
aliases         /etc/aliases

account         default_mail
host            {{ setup_host_data.msmtp.server }}
port            {{ setup_host_data.msmtp.port }}
from            {{ setup_host_data.msmtp.from }}
user            {{ setup_host_data.msmtp.user }}
password        {{ setup_host_data_secret.msmtp.password }}

account default : default_mail



