{% if item.redirect_gateway %}
push "redirect-gateway def1"
{% else %}
{% for route in item.routes %}
push "route {{ route.address }} {{ route.netmask }}"
{% endfor %}
{% endif %}

{% for dns in item.dns %}
push "dhcp-option DNS {{ dns }}"
{% endfor %}
{% for domain in item.domains %}
push "dhcp-option DOMAIN {{ domain }}"
{% endfor %}




