local {{ openvpn_host_data.local_address }}
port {{ openvpn_host_data.listen_port }}
proto udp
dev tun
topology subnet

ca /etc/openvpn/server/ca.crt
cert /etc/openvpn/server/server.crt
key /etc/openvpn/server/server.key
dh /etc/openvpn/server/dh.pem

server {{ openvpn_host_data.server_network }} {{ openvpn_host_data.server_netmask }}

client-config-dir /etc/openvpn/server/ccd

cipher AES-256-CBC
tls-version-min 1.2
tls-cipher TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-256-CBC-SHA256:TLS-DHE-RSA-WITH-AES-128-GCM-SHA256:TLS-DHE-RSA-WITH-AES-128-CBC-SHA256
auth SHA512
auth-nocache
keepalive 20 60
persist-key
persist-tun
user nobody
group nogroup
log-append /var/log/openvpn.log
verb 3



