#!/bin/bash

losetup {{ pod_data.loop_device }} {{ luks_pod_host_data.containers_root_path }}/{{ pod_data.name }}.img
cryptsetup open {{ pod_data.loop_device }} {{ pod_data.name }}
mount -t ext4 /dev/mapper/{{ pod_data.name }} {{ luks_pod_host_data.mountpoint_root_path }}/{{ pod_data.name }}

