[Unit]
Description=Keycloak service
After=network.target

[Service]
Type=simple
ExecStart={{ keycloak_10_host_data.install_path }}/bin/standalone.sh -b 0.0.0.0 -Djboss.socket.binding.port-offset={{ keycloak_10_host_data.listen_port_offset }}
ExecStop={{ keycloak_10_host_data.install_path }}/bin/jboss-cli.sh --connect --controller=127.0.0.1:{{ keycloak_10_host_data.management_port }} command=:shutdown
User={{ keycloak_10_host_data.keycloak_system_user }}
Group={{ keycloak_10_host_data.keycloak_system_group }}
Restart=on-failure

#EnvironmentFile=/opt/spring-boot/%i/application.environment

